.containerMovieDetails {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* width: 1200px; */
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px 80px 20px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.backBtn {
  margin-bottom: 20px;
  padding-left: 40px;
  text-decoration: none;
}

.img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.useScore {
    padding-left: 40px;
}

.overview {
    /* width: 100%; */
    max-width: 600px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.moreInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.moreInfoLink {
    padding-left: 40px;
}
