.containerPopular {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.headerPopular {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0px;
    font-size: 30px;
    padding-bottom: 30px;
}